
/**********************************************************************
 ** COMMON STYLE
 **/

@import url(fonts/OpenSans.css);
@import url(fonts/Sawasdee.css);

/* HTML Elements */
body { /*font-family: 'Open Sans', sans-serif; font-size: 13px;*/ background: #000; color: #ddd; margin: 0; padding: 0; font-family: sans-serif; font-size: 13px; line-height: 1.3; }
/* h1, h2, h3 { /\*font-family: 'Sawasdee', sans-serif; font-weight: normal;*\/  } */
h1 { font-size: 3em; margin: 0px 0 20px; }
h2 { font-size: 1.7em; font-weight: bold; margin: 0px 0 20px; }
h3 { font-size: 1.7em; font-weight: normal; margin: 0; }
h4 { margin: 0; }
p { margin: 1em 0; }
a { color: #F8C500; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #F88300; }
header, section, footer { position: relative; }
img { border: 0; }
/* section { margin: 40px 0 0; padding: 15px 0; } */

/* Classes communes */
/* body.page { padding-top: 80px; } */
/* "stopf" stoppe le float */
.stopf:after { clear: both; content: "."; display: block; line-height: 0; visibility: hidden; }
/* "orange" est commun avec "publication h2" plus bas */
.orange { color: #ff6b20; }
.quote:before { content: "“" }
.quote:after { content: "”" }
.center { text-align: center; }
.band { text-align: center; }
/* .band.link:hover { box-shadow: 0 0 10px 5px #D7E2E4; background: #D7E2E4; } */
/* .opacity { position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.5; background: #fff; z-index: -1; } */
.b200, .b300, .b400 { display: inline-block; margin: 10px; vertical-align: top; }
.b200 { width: 15.4em/*200px*/; }
.b300 { width: 23em/*300px*/; }
@media (max-width: 450px) {
    .b300 { width: 95%; }
    .b300 img { width: 100%; }
}
.b400 { width: 31em/*400px*/; }
@media (max-width: 550px) {
    .b400 { width: 95%; }
    .b300 img { width: 100%; }
}
a.through { color: inherit; display: block; }


/* Element layout communs */
body.page > section { margin: 1em; padding: 1em; background: #162323; }
body.page > section > section + section { margin-top: 2em; }
header.site { background: #0b433c /*turquoise=3e2544*/; padding: 0; }
header.site > h1 { font-size: 2em; padding: 0.5em; /*line-height: .9em;*/ }
header.site .sep:before { content: "»" /*"》"*/; padding: 0 10px; }
footer.site { text-align: center; padding: 0.2em 0 1em; }
footer.site > span { margin: 0 3em; }
/* footer.site > span.fsep { margin: 0 3em; } */
footer.site .fsep:before { content: "—"; padding: 0 1em; }
/* footer.site h2 { font-family: 'Open Sans', sans-serif; font-size: 1.2em; border-bottom: 1px solid; margin: 0 0 10px; padding: 0 0 5px; color: #aaa; } */
/* footer.site > section { text-align: left; } */
/* footer.site > section > ul { margin: 0; padding: 0; list-style-type: none; } */
/* footer.site a { color: #fff;} */


/******************************************************************************
 ** Width-specific and density-specific rules
 **/

/* @media (max-width: 800px) { */
/* .jigGeoPopup-triaTerme { max-height: none; } */
/* } */
/* @media (min-resolution: 1.1dppx /\* desktop is 1dppx, Galaxy S3 is 2dppx *\/) { */
    /* @media (max-width: 800px) { /\* for debugging *\/ */

    /*** HIGH DENSITY PIXELS: we put more space, padding, etc. for visibility ***/

/* /\* various spacing *\/ */
/* div.jigDataRow-tria { background-position: 5px 9px; } */
/* div.jigDataRow-circle { background-position: 0 9px; } */
/* div.jigDataRow-editLogEntry { margin: 15px 0; } */

/* .dijitDialogPaneContent > .jigGeoPopup-triaTerme { width: 92vw; } */
/* } */

@media (min-resolution: 1.2dppx), (min--moz-device-pixel-ratio: 1.2), (-webkit-min-device-pixel-ratio: 1.2) {
    /* @media (max-width: 800px) { /\* for debugging *\/ */

    /*** HIGH DENSITY PIXELS: we put more space, padding, etc. for visibility ***/
    /* desktop is 1dppx, Galaxy S3 is 2dppx */

    /* body { height  : 100%; } */
    html body { position: relative;  font-size: 70%/*82%*/;  }

}
