
/**********************************************************************
 ** COMMON STYLE
 **/

@import url(fonts/OpenSans.css);
@import url(fonts/Sawasdee.css);

/* HTML Elements */
body { /*font-family: 'Open Sans', sans-serif; font-size: 13px;*/ background: #000; color: #ddd; margin: 0; padding: 0; font-family: sans-serif; font-size: 13px; line-height: 1.5; }
/* h1, h2, h3 { /\*font-family: 'Sawasdee', sans-serif; font-weight: normal;*\/  } */
h1 { font-size: 3em; margin: 0px 0 20px; }
h2 { font-size: 1.7em; font-weight: bold; margin: 0px 0 20px; color: #D2C6A8; }
h3 { font-size: 1.7em; font-weight: normal; margin: 0; }
h4 { margin: 0; }
p { margin: 1em 0; }
a { color: #F8C500; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #F88300; }
header, section, footer { position: relative; }
img { border: 0; }
ul { padding: 0 0 0 1em; }
li { margin: 0.5em; }
ul.compact > li { margin: 0 0 0 0.5em; }
/* section { margin: 40px 0 0; padding: 15px 0; } */
code { background: #000; }

/* Classes communes */
a.through { color: inherit; display: block; }
/* "stopf" clears the float after element */
.stopf:after { clear: both; content: "."; display: block; line-height: 0; visibility: hidden; }
/* "orange" est commun avec "publication h2" plus bas */
.quote:before { content: "“" }
.quote:after { content: "”" }
.expr { background: #0b433c; font-family: monospace; font-size: 1.1em; padding: 0 3px; white-space: pre; }
.center { text-align: center; }
.half { width: 46%; display: inline-block; vertical-align: top; margin: 0 1em 1em 1em; }
@media (max-width: 790px) {
    .half { width: 95% }
}
.band { text-align: center; }
/* /\* .band.link:hover { box-shadow: 0 0 10px 5px #D7E2E4; background: #D7E2E4; } *\/ */
/* /\* .opacity { position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.5; background: #fff; z-index: -1; } *\/ */
/* .b200, .b300, .b400 { display: inline-block; margin: 10px; vertical-align: top; } */
/* .b200 { width: 15.4em/\*200px*\/; } */
/* .b300 { width: 23em/\*300px*\/; } */
/* @media (max-width: 450px) { */
/*     .b300 { width: 95%; } */
/*     .b300 img { width: 100%; } */
/* } */
/* .b400 { width: 31em/\*400px*\/; } */
/* @media (max-width: 550px) { */
/*     .b400 { width: 95%; } */
/*     .b300 img { width: 100%; } */
/* } */


/* Element layout communs */
body.page > section, article > section, article > nav { margin: 1em; padding: 1em; background: #162323; }
/* body.page > section > section + section { margin-top: 2em; } */
header.site { background: #0b433c /*turquoise=3e2544*/; padding: 0; }
header.site > h1 { font-size: 2em; padding: 0.5em; /*line-height: .9em;*/ }
header.site .sep:before { content: " »" /*"》"*/; padding: 0 0.3em 0 0; }
footer.site { text-align: center; padding: 0.2em 0 1em; }
footer.site .fsep:before { content: "—"; padding: 0 1em; }
section.w500 {}

/******************************************************************************
 ** Width-specific and density-specific rules
 **/

@media (min-width: 1000px) {
    section.w500 { }
}
@media (min-resolution: 1.2dppx), (min--moz-device-pixel-ratio: 1.2), (-webkit-min-device-pixel-ratio: 1.2) {
    /* @media (max-width: 800px) { /\* for debugging *\/ */

    /*** HIGH DENSITY PIXELS: we put more space, padding, etc. for visibility ***/
    /* desktop is 1dppx, Galaxy S3 is 2dppx */

    /* body { height  : 100%; } */
    html body { position: relative;  font-size: 70%/*82%*/;  }

}
